# Analysis | Quality of Life per US State

#### The goal of this analysis is to find some insights regarding the quality of life per state in the United States of America
Dataset Resource: https://www.kaggle.com/datasets/msjahid/statewise-quality-of-life-index-2024

In [1]:
# Include this line to make plots interactive
%matplotlib notebook

In [2]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Read in your csv:
df = pd.read_csv("Resources/qol_states_2024.csv")  

# Show dataframe first 5 row sample
df.head()

,state,QualityOfLifeTotalScore,QualityOfLifeQualityOfLife,QualityOfLifeAffordability,QualityOfLifeEconomy,QualityOfLifeEducationAndHealth,QualityOfLifeSafety
0,Alabama,45.61,40,1,40,48,32
1,Alaska,40.93,50,42,22,30,45
2,Arizona,48.31,21,25,14,39,40
3,Arkansas,42.42,46,4,34,45,47
4,California,52.03,2,50,15,24,27

In [5]:
# Show the data types and name of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   state                            50 non-null     object
 1   QualityOfLifeTotalScore          50 non-null     float64
 2   QualityOfLifeQualityOfLife       50 non-null     int64
 3   QualityOfLifeAffordability       50 non-null     int64
 4   QualityOfLifeEconomy             50 non-null     int64
 5   QualityOfLifeEducationAndHealth  50 non-null     int64
 6   QualityOfLifeSafety              50 non-null     int64
dtypes: float64(1), int64(5), object(1)
memory usage: 2.9+ KB

In [6]:
# Show name of columns as a list
df.columns.to_list()

['state',
 'QualityOfLifeTotalScore',
 'QualityOfLifeQualityOfLife',
 'QualityOfLifeAffordability',
 'QualityOfLifeEconomy',
 'QualityOfLifeEducationAndHealth',
 'QualityOfLifeSafety']

In [7]:
# Show statistical information
df.describe().T

,count,mean,std,min,25%,50%,75%,max
QualityOfLifeTotalScore,50.0,51.8302,5.728049,39.77,48.43,52.16,56.735,62.65
QualityOfLifeQualityOfLife,50.0,25.5000,14.577380,1.00,13.25,25.50,37.750,50.00
QualityOfLifeAffordability,50.0,25.5000,14.577380,1.00,13.25,25.50,37.750,50.00
QualityOfLifeEconomy,50.0,25.5000,14.577380,1.00,13.25,25.50,37.750,50.00
QualityOfLifeEducationAndHealth,50.0,25.5000,14.577380,1.00,13.25,25.50,37.750,50.00
QualityOfLifeSafety,50.0,25.5000,14.577380,1.00,13.25,25.50,37.750,50.00

In [9]:
# Find null values in each column
df.isna().sum()

state                              0
QualityOfLifeTotalScore            0
QualityOfLifeQualityOfLife         0
QualityOfLifeAffordability         0
QualityOfLifeEconomy               0
QualityOfLifeEducationAndHealth    0
QualityOfLifeSafety                0
dtype: int64

In [10]:
# See the shape of your dataset (this is to find out if data is balanced and for correlations)
df.shape

(50, 7)

In [13]:
# Get unique values of a particular column
df['state'].nunique()

50

In [14]:
# Get unique values of a particular column
df['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)